* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2980b9;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: var(--main-color);
    font-family: Roboto sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.container {
    width: 70%;
    margin-left: 15%;
    height: 100%;
}

@media (max-width: 768px){
    .container {
        width: 90%;
        margin-left: 5%;
    }
}

.quote {
    background-color: #eeeeee;
    color: var(--main-color);
    padding: 30px;
    width: 100%;
}

.quote h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.quote small {
    font-size: 18px;
}

button {
    background-color: var(--main-color);
    border: 0;
    color: #eeeeee;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 15px;
}

button:last-of-type {
    float: right;
}
